// Font-family
$karla-font: "Karla", serif;

// Font-sizes
$small: 12px;
$medium: 16px;
$large: 24px;
$x-large: 32px;

// Font-weights
$xtra-lite: 200;
$lite: 300;
$medium-lite: 400;
$bold: 600;
$xtra-bold: 700;
$bolder: 800;

