@import './resets';
@import './typography';
@import './variables';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: $karla-font;
    background-color: $Green-200-lighter;


    .wrapper {
        max-width: 600px;
        margin: 0 auto;
        padding: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .form-home {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 2rem;

            .my-form {
                display: flex;
                width: 100%;
                gap: 1rem;

                .form_group {
                    margin-bottom: 0.5rem;
                }

                label {
                    margin-bottom: 0.5rem;
                    display: block;
                    font-weight: $bold;
                }

                input {
                    padding: 10px;
                    font-size: $medium;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    width: 100%;
                }
            }
            
        }

        
    }
}