@import './resets';
@import './typography';
@import './variables';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: $karla-font;
    background-color: $Green-200-lighter;   

    .wrapper {
        background-color: $Green-200-lighter;
        margin: 0 auto;

        .form-home {
            margin: 0 auto;

            .my-form {
                
            }
        }
    } 
}   
